@import 'base/variables';
@import 'base/mixin';

* {
    font-family: 'MuseoModerno', sans-serif;
}

.conteiner {
    position: relative;
    max-width: 950px;
    margin-inline: auto;
    @media screen and ( max-width: 991px  ) {
    padding-inline: 10px;
    }
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';



@import 'media/header_media';
@import 'media/button_media';
@import 'media/promo_media';
@import 'media/advantages_media';
@import 'media/title_media';
@import 'media/consultation_media';
@import 'media/forms_media';
@import 'media/carousel_media';
@import 'media/footer_media';
@import 'media/modal_media';