@import 'base/variables';
@import 'base/mixin';

* {
    font-family: 'MuseoModerno', sans-serif;
}

.conteiner {
    max-width: 950px;
    margin-inline: auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';