@import 'base/variables';
@import 'base/mixin';

* {
    font-family: 'MuseoModerno', sans-serif;
}

.conteiner {
    max-width: 950px;
    margin-inline: auto;
    @media screen and ( max-width: 991px  ) {
    padding-inline: 10px;
    }
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title';



@import 'media/header_media';
@import 'media/button_media';