.advantages {
    min-height: 470px;
    padding-block: 70px 64px;
    background-color: #F6F6F6;
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;        
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 240px;
    }
    &__subtitle {
        margin-top: 35px;        
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 26px;        
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        a {
            color: #FF0000;
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}