.button {
    width: 153px;
    height: 32px;
    background: $main-color;
    border: none;
    border-radius: 5px;    
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.5s all;
    &:hover {
        transform: scale(1.1);
        box-shadow: 3px 3px 20px $main-color;
    }
    &_main {
        margin-top: 67px;  
        width: 300px;
        height: 50px;
        font-size: 16px;
    }
    &_submit {
        width: 100%;
        height: 58px;        
        font-size: 16px;
        line-height: 25px;
    }
    &_catalog {
        width: 135px;
        height: 44px;
        font-size: 14px;
    }
}