.catalog {
    padding-bottom: 80px;
    &__tabs {
        margin-top: 46px;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 10px;        
    }
    &__tab {
        width: 222px;
        height: 52px;
        font-weight: 400;
        font-size: 18px;
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        color: #6B6B6B;
        border: 2px solid #D0D0D0;
        cursor: pointer;
        transform: skewX(-25deg);
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            background-color: $main-color;
            color: #FFFFFF;
            border: none;
        }
    }
    &__content {
        margin-top: 57px;
    }
    &-item {
        width: 303px;
        min-height: 442px;
        padding: 20px;
        border: 2px solid #E8E8E8;
        overflow: hidden;    
        &__img {
            display: block;
            margin-inline: auto;
            max-width: 100%;
            height: 200px
        }
        &__subtitle {
            margin-top: 15px;            
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            color: #0D0D0D;
        }
        &__descr {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #0D0D0D;
        }
        &__link {
            display: block;
            margin-top: 10px;
            font-family: 'MuseoModerno';
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            text-decoration-line: underline;
            color: $main-color;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            margin-block: 17px;            
            background-color: #E8E8E8;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;            
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__price {
            font-weight: 700;
            font-size: 20px;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                margin-right: 20px;
                transform: translateX(0%);
            }
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            padding-right: 20px;
            padding-left: 15px;
            margin-bottom: 0;
            transform: translateX(0%);
            transition: 0.5s all;
            list-style-type: none;
            &_active {
                margin-left: 0px;
                transform: translateX(-100%);
            }
            li {
                position: relative;
                margin-bottom: 20px;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: #555555;
                &::before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -15px;
                    top: 8px;
                }
            }
        }
    }
}