.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo {
		width: 250px;
		img {
			width: 100%;
		}
	}
	&__official {
		font-weight: 500;
		font-size: 12px;		
		color: #FFFFFF;
		text-align: center;
		span {
			margin-top: 7px;
			display: block;
			font-size: 18px;
		}
	}
	&__phone {
		display: block;
		font-weight: 700;
		font-size: 18px;		
		color: #FFFFFF;
		text-decoration: none;
		&:hover {
			color: #FFFFFF;
		}
	}
	&__contacts {
		flex-grow: 1;
		gap: 1px;
		flex-direction: column;
		align-items: flex-end;
	}
}