@media screen and ( max-width: 767px ) {
    .consultation {
        padding-block: 60px 60px;
        &__descr {
            text-align: center;
        }

    }
}

@media screen and ( max-width: 575px ) {
    .consultation {
        min-height: 600px;        
        &__descr {
            font-size: 15px;
            line-height: 20px;
        }

    }
}